$black : rgb(0, 0, 0);
$dark-blue: rgb(20, 33, 61);
$orange: rgb(252, 163, 17);
$grey: rgb(229, 229, 229);
$grey-light: rgb(255, 255, 255);

$dark-sky: #0091ad;
$light-sky: #6efafb;
$light-cream: #fff4e4;
$dark-cream: #f7e8a4;
$pink: #ff57bb;